#adminmenu,
#adminmenu .wp-submenu,
#adminmenuback,
#adminmenuwrap {
  width: 200px;
}

#wpcontent,
#wpfooter {
  margin-left: 200px;
}

.widefat td,
.widefat th,
.plantilla.column-plantilla {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  text-align: center;
}

.widefat tfoot tr td,
.widefat tfoot tr th,
.widefat thead tr td,
.widefat thead tr th {
  text-align: center;
}
